<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sundram.shardhafertilizer">

    <dist:module dist:instant="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BeanTable"
            android:label="Rate List"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewCartActivity"
            android:label="View Cart"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Careers"
            android:label="@string/careers"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gallery"
            android:label="@string/our_gallery"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUs"
            android:label="@string/contacus"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:label="@string/AboutUs"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDescription"
            android:label="@string/product_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="logIn"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeHomeActivity" />

        <receiver
            android:name=".InternetConnector_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>